<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>resname</key>
		<string>alarm_bird</string>
		<key>enname</key>
		<string>res_name_47</string>
	</dict>
	<dict>
		<key>resname</key>
		<string>alarm_car</string>
		<key>enname</key>
		<string>res_name_48</string>
	</dict>
	<dict>
		<key>resname</key>
		<string>alarm_cat</string>
		<key>enname</key>
		<string>res_name_49</string>
	</dict>
	<dict>
		<key>resname</key>
		<string>alarm_chatcall</string>
		<key>enname</key>
		<string>res_name_50</string>
	</dict>
	<dict>
		<key>resname</key>
		<string>alarm_dog</string>
		<key>enname</key>
		<string>res_name_51</string>
	</dict>
	<dict>
		<key>resname</key>
		<string>alarm_fire</string>
		<key>enname</key>
		<string>res_name_52</string>
	</dict>
	<dict>
		<key>resname</key>
		<string>alarm_music</string>
		<key>enname</key>
		<string>res_name_53</string>
	</dict>
	<dict>
		<key>resname</key>
		<string>alarm_radar</string>
		<key>enname</key>
		<string>res_name_54</string>
	</dict>
	<dict>
		<key>resname</key>
		<string>alarm_trumpet</string>
		<key>enname</key>
		<string>res_name_55</string>
	</dict>
	<dict>
		<key>resname</key>
		<string>alarm_whistle</string>
		<key>enname</key>
		<string>res_name_56</string>
	</dict>
	<dict>
		<key>resname</key>
		<string>alarm</string>
		<key>enname</key>
		<string>res_name_57</string>
	</dict>
</array>
</plist>
